.sector-line{
  display:flex;
  flex-direction: row;
}
.sector {
  width :250px;
  height:250px;
  border:3px solid #fff;
  position:relative;
}
.sector1{
  background-color: hsla(350, 73%, 87%, 1);
}
.sector1.sector--selected{
  background-color: hsla(350, 73%, 77%, 1);
}
.sector2{
  background-color: hsla(60, 100%, 65%, 1);
}
.sector2--selected {
  background-color: hsla(60, 100%, 45%, 1);
}

.sector3{
  background-color: hsla(197, 100%, 75%, 1);
}
.sector3--selected {
  background-color: hsla(197, 100%, 65%, 1);
}
.sector4{
  background-color: hsla(146, 100%, 50%, 1);
}
.sector4--selected {
  background-color: hsla(146, 100%, 40%, 1);
}

.simon{
  border: 1px solid #fff;
  overflow: hidden;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position:relative;
}
.panel{
  top:100px;
  left:100px;
  width:300px;
  height:300px;
  background-color:#ccc;
  border:5px solid #fff;
  border-radius:50%;
  position:absolute;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.game-caption{
  font-size: 40px;
  margin-bottom: 20px;
}
.score{
  height: 15%;
  border: 1px solid #000;
  width: 25%;
  border-radius: 10%;
  text-align: center;
  line-height: 42px;
  font-size: 150%;
  background-color: #f4ffe7;
  color:#ff4136;
  box-shadow: 1px 1px 1px 1px #666;
  margin-bottom: 20px;
}
.control-btn{
  border: 1px solid #000;
  box-shadow: 1px 1px 1px 1px #666;
  padding:5px 8px;
  border-radius: 10%;
}
.control-buttons{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 150px;
}
.switch-on-off{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.switch-on-off__text{
  margin-top:5px;
  color:black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top:20px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__input:checked + .slider {
  background-color: #2196F3;
}

.switch__input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch__input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.strict{
  background-color: #ed225d;
}
.sector.switch-off::after{
  width :250px;
  height:250px;
  position:absolute;
  content:'';
  top:0;
  left:0;
  border:3px solid #fff;
  background-color:rgba(212,205,205,0.8);

}